Dataset cleaning

In [ ]:
#The aim of this first step is to clean the Dataset before to start working on it.

# 1- Import Libraries

In [2]:
import pandas as pd
import numpy as np
import os, sys
import math
import re


import warnings
warnings.filterwarnings('ignore')


# Dataset has 271361 rows, jupyter notebook is crashing 
#if I don't limit the number of rows displayed below.
pd.set_option('display.max_columns', 1000) 
pd.set_option('display.max_rows', 1000)
pd.options.display.max_columns = 1000

# 2  . Import Data

In [3]:
data_users = pd.read_csv('users.csv')
data_users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

# 3  . Data Exploring

Explore and check the dataset, it is necessary to know your dataset before starting cleaning or 
dropping information.

In [4]:
# number of rows and columns
data_users.shape

(278858, 3)

In [5]:
# types of datas in each columns
data_users.dtypes

User-ID       int64
Location     object
Age         float64
dtype: object

In [6]:
data_users.info

<bound method DataFrame.info of         User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]>

In [7]:
# list of the column's names
data_users.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [8]:
# Looking for null datas
data_users.isna().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

# 4  . Data Cleaning

Clean the column name by removing the symbols, setting the names in the same format 
(lower case and replace space by _ etc...)

In [14]:
data_users.columns = [column.lower().replace('-', '_') for column in data_users.columns]

In [15]:
# Check the column 
list(data_users.columns)

['user_id', 'location', 'age']

In [16]:
#null data 
data_users.isna().sum()

user_id          0
location         0
age         110762
dtype: int64

# 5  . Save data

In [ ]:
## Saving the new clean data set under 'books_final' as a new csv file.
users_final.to_csv(r'C:\Users\ASUS\Data Analytics\Project_Final\users_final.csv')