Dataset cleaning

In [ ]:
#The aim of this first step is to clean the Dataset before to start working on it.

# 1- Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os, sys
import math
import re


import warnings
warnings.filterwarnings('ignore')
#pd.set_option('display.max_colwidth', -1) =>check what it is actually doing

# Dataset has 271361 rows, jupyter notebook is crashing 
#if I don't limit the number of rows displayed below.
pd.set_option('display.max_columns', 1000) 
pd.set_option('display.max_rows', 1000)
pd.options.display.max_columns = 1000

# 2  . Import Data

In [2]:
data_ratings = pd.read_csv('ratings.csv')
data_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

# 3  . Data Exploring

Explore and check the dataset, it is necessary to know your dataset before starting cleaning or 
dropping information.

In [3]:
# number of rows and columns
data_ratings.shape

(1149780, 3)

In [4]:
# types of datas in each columns
data_ratings.dtypes

User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

In [5]:
data_ratings.info

<bound method DataFrame.info of          User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]>

In [6]:
# list of the column's names
data_ratings.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [7]:
# Looking for null datas
data_ratings.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

# 4  . Data Cleaning

Clean the column name by removing the symbols, setting the names in the same format 
(lower case and replace space by _ etc...)

In [11]:
data_ratings.columns = [column.lower().replace('-', '_') for column in data_ratings.columns]

In [12]:
# Check the column 
list(data_ratings.columns)

['user_id', 'isbn', 'book_rating']

# 5  . Save data

In [ ]:
## Saving the new clean data set under 'books_final' as a new csv file.
data_ratings.to_csv(r'C:\Users\ASUS\Data Analytics\Recommended-Reading\ratings_final.csv')