Dataset cleaning

In [ ]:
#The aim of this first step is to clean the Dataset before to start working on it.

# 1- Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os, sys
import math
import re


import warnings
warnings.filterwarnings('ignore')
#pd.set_option('display.max_colwidth', -1) =>check what it is actually doing

# Dataset has 271361 rows, jupyter notebook is crashing 
#if I don't limit the number of rows displayed below.
pd.set_option('display.max_columns', 1000) 
pd.set_option('display.max_rows', 1000)
pd.options.display.max_columns = 1000

# 2  . Import Data

In [2]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

# 3  . Data Exploring

Explore and check the dataset, it is necessary to know your dataset before starting cleaning or 
dropping information.

In [3]:
# number of rows and columns
ratings.shape

(1149780, 3)

In [4]:
# types of datas in each columns
ratings.dtypes

User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

In [5]:
ratings.info

<bound method DataFrame.info of          User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]>

In [6]:
# list of the column's names
ratings.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [7]:
# Looking for null datas
ratings.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

# 4  . Data Cleaning

Clean the column name by removing the symbols, setting the names in the same format 
(lower case and replace space by _ etc...)

In [11]:
ratings.columns = [column.lower().replace('-', '_') for column in ratings.columns]

In [12]:
# Check the column 
list(ratings.columns)

['user_id', 'isbn', 'book_rating']

In [ ]:
#ratings dataset will have n_users*n_books entries if every user rated every item, this shows that the dataset is very sparse
n_users = users.shape[0]
n_books = books.shape[0]
n_users * n_books

In [ ]:
ratings['Book-Rating'].unique()

In [ ]:
#ratings dataset should have books only which exist in our books dataset, unless new books are added to books dataset
ratings_new = ratings[ratings.ISBN.isin(books.ISBN)]

ratings.shape,ratings_new.shape
#it can be seen that many rows having book ISBN not part of books dataset got dropped off

In [ ]:
#ratings dataset should have ratings from users which exist in users dataset, unless new users are added to users dataset
ratings = ratings[ratings['User-ID'].isin(users['User-ID'])]

print(ratings.shape)
print(ratings_new.shape)
#no new users added, hence we will go with above dataset ratings_new (1031136, 3)

(n_users), (n_books)

In [ ]:
ratings['Book-Rating'].unique()

In [ ]:
#Hence segragating implicit and explict ratings datasets
ratings_explicit = ratings_new[ratings_new['Book-Rating'] != 0]
ratings_implicit = ratings_new[ratings_new['Book-Rating'] == 0]

In [ ]:
print(ratings_new.shape)
print(ratings_explicit.shape)
print(ratings_implicit.shape)
plt.style.use('fivethirtyeight')
plt.figure(figsize=(12, 8))
sns.countplot(data=ratings_explicit , x='Book-Rating', palette='rocket_r')

In [ ]:
ratings_count = pd.DataFrame(ratings_explicit.groupby(['ISBN'])['Book-Rating'].sum())
top10 = ratings_count.sort_values('Book-Rating', ascending = False).head(10)

top10.merge(books, left_index = True, right_on = 'ISBN')

In [ ]:
#Similarly segregating users who have given explicit ratings from 1-10 and those whose implicit behavior was tracked
users_exp_ratings = users[users['User-ID'].isin(ratings_explicit['User-ID'])]
users_imp_ratings = users[users['User-ID'].isin(ratings_implicit['User-ID'])]

In [ ]:
#checking shapes
print(users.shape)
print(users_exp_ratings.shape)
print(users_imp_ratings.shape)

# 5  . Save data

In [ ]:
## Saving the new clean data set under 'books_final' as a new csv file.
ratings.to_csv(r'C:\Users\ASUS\Data Analytics\Recommended-Reading\ratings_final.csv')